/** Copyright alexjo.co 2017 */

@font-face {
    font-family: sanfran;
    src: url("SanFrancisco.ttf") format("truetype");
}      

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 10pt;
    font-family: sanfran, monospace;
    overflow-y: hidden;
}

#grub-wrapper {
    z-index: 3;
    width: 300px;
    height: 100%;
    float: right;
    overflow-y: scroll;
    color: #DDDDDD;
}

/************* Grubspot ***************/
#grub-wrapper > div {
    background-color: #FFA5A5;
}

.spot-inner > div {
    padding: 10px;
    height: 70px;
}

.spot-inner:nth-child(odd) {
    border: 3px solid #3E3E3E;
    background-color: #3E3E3E;
}

.spot-inner:nth-child(even) {
    border: 3px solid #5E5E5E;
    background-color: #5E5E5E;
}

.spot-inner:hover {
    border: 3px solid #417FBF;
    cursor: pointer;
}

.spot-inner .selected {
    border: 3px solid #417FBF;
}

/************* Inner Grubspot ***************/
.spot-inner a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.spot-inner > div {
    display: inline-block;
}

.spot-inner .title {
    font-size: 16pt;
}

.spot-inner .category {
    font-style: italic;
    padding-left: 15px;
}

.spot-inner .priceRating{
    margin-top: 10px;
    width: 160px;
    display: block;
}

.spot-inner .priceRating > div {
    height: 14px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 7px;
    display: inline-block;
    vertical-align: middle;
    color: #EEEEEE;
}

.spot-inner .grubiness {
    float: right;
    width: 80px;
    text-align: left;
    line-height: 70px;
    font-size: 70px;
    font-weight: bold;
}

/************* Search ***************/
#search-bar {
    position: absolute;
    width: 70%;
    position: absolute;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
}

#search-bar-input {
}

input {
    display: inline-block;
    margin: auto;
    border: none;
    box-sizing: border-box;
    font-size: 12pt;
    padding: 14px 18px;
}

input[type=text] {
    border: 2px solid #3E3E3E;
    background-color: #3E3E3E;
    width: calc(100% - 120px);
    border-radius: 3px 0 0 3px;
    color: #FFFFFF;
}

input[type=text]:focus {
    border: 2px solid #417FBF;
    background-color: #3E3E3E;
    outline: none;
}

input[type=submit] {
    width: 120px;
    border: 2px solid #417FBF;
    background-color: #417FBF;
    color: #AAEEEE;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

input[type=submit]:hover, input[type=submit]:focus {
    border: 2px solid #316FAF;
    background-color: #316FAF;
    color: #AAEEEE;
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888888;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888888;
}
:-moz-placeholder { /* Firefox 18- */
  color: #888888;
}

/************** MAP *****************/
#grub-map-wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    width: calc(100% - 300px);
}

#grub-map {
    background-color: tan;
    height: 100%;
    width: 100%;
}

#signature-wrapper {
    width: 100%;
    position: relative;
    bottom: 20px;
    left: 0;
}

#signature-wrapper > div {
    margin: auto;
    width: 250px;
}
